<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS 적용 링크 방식 -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->

    <!-- CSS 적용 임베딩 방식 -->
    <style>
        h1 { color: red; }
        p { color: green; }

        h2 { background: aqua; }

        .center {
            text-align: center;
        }
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
        .large {
            font-size: large;
        }
    </style>

</head>
<body>
    
    <!-- CSS 적용 인라인 방식 -->
    <!-- <h1 style="color: red;">django</h1>
    <h2 style="background: aqua;">hello</h2>
    <p style="color: green;">p tags</p> -->

    <h1>django</h1>
    <h2>hello</h2>
    <p>p tags</p>

    <p class="center">center</p>
    <p class="large red">large red</p>
    <p class="large center blue">large center red</p>

</body>
</html>